@import 'https://unpkg.com/@a1rth/css-normalize@1.1.3/index.css';
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --height-player-one: 50%;
  --height-player-two: 50%
}

body{
  font-family: "Shantell Sans", serif;
  color: yellow;
}

main{
  position: relative;
  height: 100vh;
}

.player-one-side{
  height: var(--height-player-one);
  background-color: #3db2ff;
  position: relative;
  transition: height 0.3s ease;
}

.player-two-side{
  height: var(--height-player-two);
  background-color: #ff2442;
  transition: height 0.3s ease;
}

.word{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
  font-size: clamp(28px, 3.33vw ,64px);
  width: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  text-align: center;
}

.menu-overlay {
  z-index: 100;
}

.restart-overlay{
  z-index: 50;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay-title {
  font-size: clamp(32px, 3.33vw ,64px);
}

.overlay-text {
  font-size: clamp(16px, 1.25vw ,24px);
}

.menu-rules{
  color: #d3d3d3;
}

.button {
  font-size: clamp(20px, 1.458vw ,28px);
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: yellow;
}

.menu-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-block: 10px;
}

.menu-input-player-name{
  outline: none;
  width: clamp(205px, 70% ,300px);
}
